@model CustomeAuthentication.Models.RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registration" asp-controller="AccountController1" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control " />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            @* for assigning roles *@

            <div class="input-group mb-3 mt-3">
                <label class="input-group-text"  asp-for="Roles">Options</label>
                <select class="form-select" id="inputGroupSelect01" asp-for="Roles">
                    <option selected>Choose...</option>
                    <option value="admin">Admin</option>
                    <option value="customer">Customer </option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control " />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConformPassword" class="control-label"></label>
                <input asp-for="ConformPassword" class="form-control ml-3" />
                <span asp-validation-for="ConformPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary m-3" />
            </div>
        </form>
    </div>
</div>

<div>
   Already have an account? <a asp-action="Login">Go to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
